
@import "tailwindcss";

/* @utility container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: red;
} */

@layer base {
  :root {
      --background: 216 13% 15%;
      --foreground: 219 18% 71%;
      --muted: 216 12% 19%;
      --muted-foreground: 216 12% 69%;
      --popover: 216 13% 12%;
      --popover-foreground: 219 18% 81%;
      --card: 216 13% 13%;
      --card-foreground: 219 18% 76%;
      --border: 216 3% 20%;
      --input: 216 3% 23%;
      --primary: 219 18% 81%;
      --primary-foreground: 219 18% 21%;
      --secondary: 219 8% 25%;
      --secondary-foreground: 219 8% 85%;
      --accent: 216 13% 30%;
      --accent-foreground: 216 13% 90%;
      --destructive: 3 95% 48%;
      --destructive-foreground: 0 0% 100%;
      --ring: 219 18% 81%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
  
}
.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
  
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
  
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
  
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
  
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
  
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
  
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
  
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
  
    --color-ring: hsl(var(--ring));
    --breakpoint-*: initial;  /* Reset des valeurs par défaut */
    /* --breakpoint-xs: 36rem;   576px */
    --breakpoint-sm: 36rem;   /* Alias sm pour compatibilité */
    --breakpoint-md: 48rem;   /* 768px */
    --breakpoint-lg: 62rem;   /* 992px */
    --breakpoint-xl: 75rem;   /* 1200px */
    --breakpoint-2xl: 150rem; /* 2400px */
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: aquamarine; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* html, body {
  overflow-x: hidden;
} */

  /* --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  <576 extra small = 36rem
  >= 576 Small = 36rem
  >= 768 Medium = 48 rem
  >= 992 Large = 62 rem
  >= 1200 X-Large = 75 rem
  >= 2400 XX-Large = 150 rem

  inférieur= à 30rem on fait max
  */
